{% extends 'base.html' %}

{% block title %}
Прототип
{% endblock %}

{% block body %}
    <div class="container">

        <h1>Отчет по учебной практике</h1>
        <p><h4>тема</h4> <h3>"РАЗРАБОТКА ИНФОРМАЦИОННОЙ СИСТЕМЫ ДЛЯ АВТОМАТИЗАЦИИ РАБОЧЕГО МЕСТА ДИСПЕТЧЕРА УПРАВЛЯЮЩЕЙ КОМПАНИИ"</h3></p>
        <br><br>
        <div class="alert alert-info">
        <p>выполнил: Студент группы з-96Э</p>
        <p>Батманов Н.Н.</p><br>
        </div>
        <div class="alert alert-info">
        <p>Руководитель от университета Доцент каф. АСУ ТУСУР, к.т.н.</p>
        <p>Григорьева М.В.</p>
        </div>
    </div>
{% endblock %}